* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-wrapper {
  width: 80%;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  object-fit: cover;
}

.img-wrapper h1 {
  position: absolute;
  bottom: 0px;
  left: 5px;
  font-size: 3rem;
  color: white;
}

.main-header {
  display: flex;
  justify-content: center;
}

.arrow-right {
  width: 0;
  z-index: -1;
  height: 0;
  left: 0px;
  top: -400px;
  position: absolute;
  border-top: 400px solid transparent;
  border-bottom: 400px solid transparent;
  border-left: 400px solid rgb(95, 138, 175);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 18px;
}

.about h2 {
  font-size: 2.7rem;
}

.about p {
  font-size: 1.7rem;
}

.about i {
  font-size: 2.4rem;
}

.about .icons {
  display: flex;
  gap: 30px;
}

.work {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  padding: 8%;
}

.work h2 {
  font-size: 2.7rem;
}

.work img {
  width: 100%;
}

.projects-wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
}

.project-details {
  display: grid;
  padding: 10px;
  grid-template-columns: 4fr 1fr;
}

.project-details h3 {
  font-size: 1.5rem;
}

.project-details p {
  font-size: 1.1rem;
}

.project-details i {
  font-size: 1.6rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  color: white;
  gap: 30px;
  background-color: rgb(95, 138, 175);
}

.footer-details {
  padding: 5% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

footer h3 {
  font-size: 2.7rem;
  align-self: center;
}
footer p {
  font-size: 1.7rem;
}
footer .address p,
footer .address2 p {
  font-size: 1.1rem;
}
footer .icons {
  align-self: center;
  display: flex;
  gap: 30px;
  color: black;
  font-size: 2rem;
}
footer .img-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

footer img {
  max-width: 100%;
  object-fit: cover;
}

/* Tablets */

@media (min-width: 500px) {
  header {
    display: grid;
    position: relative;
    padding: 20px;
    grid-template-columns: 1.5fr 1fr;
  }
  .img-wrapper h1 {
    font-size: 4.2rem;
  }
}

@media (min-width: 100px) {
  .main-header {
    max-width: 500px;
  }

  header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
  }

  .about {
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 10px 35px;
  }

  .img-wrapper h1 {
    font-size: 4.2rem;
  }

  footer {
    flex-direction: row;
  }

  .arrow-right {
    top: -800px;
    border-top: 800px solid transparent;
    border-bottom: 800px solid transparent;
    border-left: 800px solid rgb(95, 138, 175);
  }
}
